/* Верхняя панель */
.topbar {
    width: 100%;
    background: #333;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.topbar a {
    color: white;
    text-decoration: none;
}

.active-tab {
    font-weight: bold;
    text-decoration: underline;
}

/* Основной layout */
body {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

/* Sidebar и контент */
.sidebar {
    width: 250px;
    background: #f4f4f4;
    padding: 15px;
    height: 100;
}

.content {
    flex: 1;
    padding: 20px;
}

form {
    margin-bottom: 15px;
}

input, textarea, select {
    width: 100%;
    margin-bottom: 5px;
}

.note {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.delete-btn:hover {
    opacity: 0.6;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.recipe-item {
    display: flex;
    justify-content: space-between; /* кнопка справа */
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    border:1px solid black;
    padding: 5px;
}

.recipe-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}